.body{
  background-color: #D9D9D9;
  height: 100vh;
}
header{
  background-color: #66D48B;
  display: flex;
  padding: 2%;
}
.HeaderText{
  font-size: xx-large !important;
  color: #FFFFFF;
}
.CreateThread{
  color: #FFFFFF;
  margin:1vh 0 0  auto;
}


.ThreadList{
  margin:  0 auto;
  width: 50%;
  background-color: #FFFFFF;
  border:solid black 1px;
  border-radius: 1%;
  padding: 1% 0 1% 1%;
}
.ThreadList li{
  font-size: large !important;
}
.ThreadListh2{
  font-size: x-large;
  margin: 0 auto;
  max-width: 50%;
  padding: 2vh 0  2vh 0;
}


.CreateThredsTitle{
  font-size: xx-large;
  margin: 5vw 0 5vw 35vw;
  width: 50%;
}
.CreateThredsform{
  margin: 0 0 0 35vw ;
  width: 50%;
}
.CreateThredsform input{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 2% 5% 2% 5%;
  width: 60%;
  font-size: x-large;
  display: flex;
  margin-bottom: 10vh;
}
.CreateThredsform button{
  background-color:#66D48B;
  font-size: larger;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 1vh 2vw 1vh 2vw;
}
.CreateThredsform a{
  margin-right: 10vw;
  margin-left: 5vw;
}
.Error{
  color: red;
}